
a{
   justify-content: space-evenly ;
   color: black;
}
ul{
    list-style-type: none;
}
body{ 
    text-align: center;
    align-items: center;
}
nav{
    margin-left: 1000px;
    color:black;
}
header{
    background-color: aqua;
}
button{
    background-color: beige;
}
.skills a{
    color: black;
}


html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}
.container{
    padding: 50px auto;
    width: 100px;
    display: flex;
}
.home{
    background-color:#023e8a;
}
.head{
    background-color:#00b4d8;
}
.courses{
   background-color: #48cae4;
   
}
.contact{
    background-color:#ade8f4;
}